@model CinemeOnlineWeb.ActorPlay

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE HTML>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css"/>
</head>
<body>

    <h1>Add new Actor role</h1>
    <h2>@ViewBag.filmName</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="ActorPlays">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="FilmId" value="@ViewBag.filmId">
               
                <div class="form-group">
                    <label asp-for="ActorId" class ="control-label">Actor</label>
                    @Html.DropDownList("ActorId", ViewBag.ActorId as SelectList)
                    <span asp-validation-for="ActorId" class="text-danger"></span>
                    
                </div>

                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" class="form-control" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input type="number" name ="Salary" class="form-control"/>
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityScenes" class="control-label"></label>
                    <input asp-for="QuantityScenes" class="form-control" />
                    <span asp-validation-for="QuantityScenes" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

<script>
    jQuery(document).ready(function(){
        $("select").selectize();
    });
</script>
</body>
